# DAT210x - Programming with Python for DS

## Module2 - Lab2

This time, you're going to attempt to load your first csv dataset! Open up the starter code located in Module2/Module2 - Lab2.ipynb. Since this is the first jupyter notebook used in this class, make sure you first launch Jupyter by opening up your terminal / command prompt, navigating to the folder where you extracted the class repo, and then typing:

jupyter notebook
This should launch your browser showing you all of the Module folders for this course. Navigate into the Module2 folder and open up the Lab2 notebook. Read through it and follow the directions to:

Load up Module2/Datasets/tutorial.csv
Print the entire dataframe, using print df
Use the .describe() method on the dataset
Slice the dataset using [2:4, 'col3']
Note: If Pandas complains about not being able to find the tutorial file, just use the full system path to it rather than a relative path. All paths mentioned in this course are in reference to the Module directory produced by unzipping the course material file.

In [4]:
# Import and alias Pandas
import pandas as pd

Write code below to load up the `tutorial.csv` dataset. You can store it into a variable called df:

In [8]:
df = pd.read_csv(r'Datasets\tutorial.csv')

Now that your dataset has been loaded, invoke the `.describe()` method to display some results about it:

In [9]:
df.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

Lastly, try experimenting with indexing. Figure out which _indexing method_ you would need to use in order to index your dataframe with: `[2:4, 'col3']`. Finally, display the results:

In [12]:
df.loc[2:4, 'col3']

2   -1.417937
3   -1.649853
Name: col3, dtype: float64