# DAT210x - Programming with Python for DS

## Module2 - Lab4

Navigate over to ESPN's website for NHL Historic Player Points Statistics, for the years 2014-2015. This page has a table on it with a few stats we're interested in obtaining. But it's a bit messy! Clean it up for us, using the appropriate commands to:

Load up the table on just this page into a Pandas dataframe. No need to worry about the other pages!
Rename the columns so that they match the column definitions on the website.
Get rid of (drop) any erroneous rows that has at least 4 NANs in them.
Get rid of the RK column.
Ensure there are no nan "holes" in your index.
Check the dtypes of all columns, and ensure those that should be numeric are numeric.

Import and alias Pandas:

In [30]:
import pandas as pd

Load up the table from the link, and extract the dataset out of it. If you're having issues with this, look carefully at the sample code provided in the reading:

In [31]:
lst_df = pd.read_html(r'http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2')

Next up, rename the columns so that they are _similar_ to the column definitions provided to you on the website. Be careful and don't accidentally use any column names twice. If a column uses special characters, you can replace them with regular characters to make it easier to work with:

In [39]:
df = lst_df[0]
df.columns = ['RK', 'PLAYER', 'TEAM', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'PTS/G', 'SOG', 'PCT', 'GWG', 'PP_G', 'PP_A', 'SH_G', 'SH_A']
print(len(df))

48

Get rid of any row that has at least 4 NANs in it. That is, any rows that do not contain player points statistics:

In [41]:
df = df.dropna(axis=0, thresh=13)
print(len(df))

44

At this point, look through your dataset by printing it. There probably still are some erroneous rows in there. What indexing command(s) will you use to select all rows EXCEPT those rows?

40

Get rid of the 'RK' column:

In [42]:
df = df[df['RK'] != 'RK']
print(len(df))
df.head()

40

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,PP_G,PP_A,SH_G,SH_A
2,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
3,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
4,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
5,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
6,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

Make sure there are no holes in your index by resetting it. There is an example of this in the reading material. By the way, drop the original index.

In [43]:
df = df.reset_index(drop=True)
df.head()

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,PP_G,PP_A,SH_G,SH_A
0,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

Check the data type of all columns, and ensure those that should be numeric are numeric.

In [45]:
df.dtypes

RK        object
PLAYER    object
TEAM      object
GP        object
G         object
A         object
PTS       object
+/-       object
PIM       object
PTS/G     object
SOG       object
PCT       object
GWG       object
PP_G      object
PP_A      object
SH_G      object
SH_A      object
dtype: object

Your dataframe is now ready! Use the appropriate commands to answer the questions on the course lab page.

In [50]:
numeric_columns = ['RK', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'PTS/G', 'SOG', 'PCT', 'GWG', 'PP_G', 'PP_A', 'SH_G', 'SH_A']
df = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df.dtypes

RK       float64
GP         int64
G          int64
A          int64
PTS        int64
+/-        int64
PIM        int64
PTS/G    float64
SOG        int64
PCT      float64
GWG        int64
PP_G       int64
PP_A       int64
SH_G       int64
SH_A       int64
dtype: object

In [51]:
len(df)

40

In [54]:
df.PCT.nunique()

36

In [57]:
df.loc[15:16, 'GP'].sum()

164