In [7]:
mydict = {'carl':40,
          'alan':2,
          'bob':1,
          'danny':3}
mylist = [40,2,1,3]

## mylist

In [8]:
sorted(mylist, reverse=False)

[1, 2, 3, 40]

In [9]:
mylist.sort(reverse=True)
mylist

[40, 3, 2, 1]

## mydict

In [14]:
sorted(mydict.items(), key=lambda val: val[1], reverse=True)

[('carl', 40), ('danny', 3), ('alan', 2), ('bob', 1)]

In [10]:
sorted(mydict)

['alan', 'bob', 'carl', 'danny']

In [15]:
sorted(mydict, reverse=True)

['danny', 'carl', 'bob', 'alan']

In [36]:
sorted(mydict.items(), key=lambda val:val[1], reverse=True)

[('carl', 40), ('danny', 3), ('alan', 2), ('bob', 1)]

In [56]:
[(key, value) for (key, value) in mydict.items()]

[('carl', 40), ('alan', 2), ('bob', 1), ('danny', 3)]

In [52]:
sorted(mydict, key=lambda x: mydict[x])

['bob', 'alan', 'danny', 'carl']

In [53]:
mydict

{'alan': 2, 'bob': 1, 'carl': 40, 'danny': 3}

In [60]:
import array
array1 = array.array('i', [1,2,3,4,5,6])

In [61]:
array1[0]

1

In [63]:
array1.insert(1, 44)
array1.insert(5, 44)
array1

array('i', [1, 44, 44, 2, 3, 44, 4, 5, 6])

In [64]:
array1.remove(44)
array1

array('i', [1, 44, 2, 3, 44, 4, 5, 6])

In [68]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";

In [69]:
# tup1 = (50, )
tup1

('physics', 'chemistry', 1997, 2000)

In [67]:
tup3

('a', 'b', 'c', 'd')

In [89]:
from collections import defaultdict
dt = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict = defaultdict(<type 'string'>)
for k, v in dt.items():
    dict[k] = v
dict['ddd']    
# print("dict['Alice']: ", dict['Alice'])

SyntaxError: invalid syntax (<ipython-input-89-1a552e1f6677>, line 3)

In [90]:
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])
    
m = reshape(a,(7,5))
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [91]:
print(m[2])

['Wed' '15' '21' '20' '19']

In [94]:
append(m, [['Avg',12,15,13,11]], 0)

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16'],
       ['Avg', '12', '15', '13', '11']], dtype='<U3')

## mySeries

In [1]:
import pandas as pd
mySeries = pd.Series([1,2,3])

In [2]:
mySeries.add(5)

0    6
1    7
2    8
dtype: int64

In [6]:
mySeries.agg({'total':'sum', 'min':'min', 'max':'max'})

total    6
min      1
max      3
dtype: int64